<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="third/bootstrap-4.0.0-alpha/css/bootstrap.css"/>
    <link rel="stylesheet" href="third/font-awesome-4.4.0/css/font-awesome.css"/>

    <!---
        artDialog的css和artDialog的opera风格样式
    -->
    <link rel="stylesheet" href="third/artDialog-master/css/ui-dialog.css" />
    <link rel="stylesheet" href="third/artDialog-master/css/opera.css" />
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <!--
        0：jquery
        1：弹窗插件
        2：bootstrap
    -->
    <script src="third/jq1.9.js"></script>
    <script src="third/artDialog-master/dist/dialog-plus-min.js"></script>
    <script src="third/bootstrap-4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="third/prefixfree.min.js"></script>
    <!--
        压缩和解压缩需要zip.js;
    -->
    <!--
    <script src="http://gildas-lormeau.github.io/zip.js/demos/zip.js"></script>
    <script src="http://gildas-lormeau.github.io/zip.js/demos/mime-types.js"></script>
    -->

    <!--
    引用第三方的编辑器;
    -->
    <link rel="stylesheet" href="third/umeditor/themes/default/_css/umeditor.css"/>
    <script type="text/javascript" charset="utf-8" src="third/umeditor/umeditor.config.js"></script>
    <script src="third/umeditor/_src/editor_api.js"></script>
    <script type="text/javascript" src="third/umeditor/lang/zh-cn/zh-cn.js"></script>

    <script src="third/js-sdk-master/js-sdk-master/src/plupload/plupload.full.min.js"></script>
    <script src="third/qiniu.js"></script>


    <script src="third/zeroClip/ZeroClipboard.js"></script>
    <!--
        颜色选择插件;
    -->
    <script src="third/jscolor-1.4.5/jscolor/jscolor.js"></script>
<!--
    <script src="http://julianlam.github.io/tabIndent.js/js/tabIndent.js"></script>-->

    <!--
        引用基本的JS组件;
    -->
    <script src="js/ui.js"></script>
    <script src="js/util.js"></script>
</head>
<body>

    <input type="hidden" id="domain" value="<%= domain %>">
    <input type="hidden" id="uptoken_url" value="<%= uptoken_url %>">
    <div id="container" info="隐藏的上传控件" style="display:none">
        <div id="pickfiles" href="###">upload</div>
    </div>

    <div class="container-fluid header">
        <div class="row">
            <div class="mt4 selectnone">
                <div class="col-xs-5">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-folder-open"></i>
                        加载
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-download"></i>
                        下载
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-user"></i>
                        电子书信息
                    </button>
                </div>
                <div class="col-xs-2">
                    <div class="input-group  input-group-sm">
                        <span class="input-group-addon" id="title"><i class="fa fa-pencil-square"></i> 标题</span>
                        <input type="text" class="form-control" placeholder="" aria-describedby="title">
                    </div>
                </div>
                <div class="col-xs-5">
                    <button type="button" class="btn btn-info pull-right marginLeft10">
                        <i class="fa fa-info-circle"></i>
                        帮助
                    </button>
                    <button type="button" class="btn btn-info pull-right">
                        <i class="fa fa-html5"></i>
                        作者
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bodyer">
        <div class="row height100per">
            <div class="col-xs-2 height100per overflowauto selectnone">
                <!--
                左侧分页导航栏
                -->
                <div class="borderCommon">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-file"></i>
                        新建
                    </button>
                    <ul class="left-nav" id="left-nav" >
                        <li>
                            <a href="###" class="clone">
                                <i class="fa fa-clone"></i>
                            </a>
                            <a href="###" class="trash">
                                <i class="fa fa-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-10 height100per overflowauto">
                <ul id="content-nav">
                    <li>
                        <div id="myEditor"></div>
                    </li>
                    <script>
                        //实例化编辑器
                        var um = UM.getEditor('myEditor');
                    </script>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid footer">
        <div class="row">
            <!---
                底部信息栏
            -->
            <div id="info" class="alert alert-info padding0">
                当前状态：编辑....
            </div>
        </div>
    </div>
    <script src="js/events.js"></script>
    <script src="js/main.js"></script>
</body>
</html>