/***
* @头部， 内容区域， 尾部三大快;
*/
.header{
    position: fixed;
    left:0;
    top:0;
    right:0;
    height: 50px;/*
        background: #269abc;*/
}
.bodyer{
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 20px;
    right: 0;
}
.footer{
    position: fixed;
    bottom:0;
    right:0;
    left:0;
    height:20px;
    font-size:14px;
}

/**
左侧分页导航栏
*/
.left-nav{
    counter-reset : inc 0;
    overflow: auto;
}
.left-nav li{
    height: 64px;
    background: #fff;
    margin-top: 10px;
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    padding-top:20px;
}
.left-nav li:before{
    counter-increment: inc;
    content: counter(inc);
    position: absolute;
    top: 20px;
    left:4px;
}
.left-nav .clone {
    position: absolute;
    right: 20px;
    top: 0;
}
.left-nav .trash{
    position: absolute;
    right: 0;
    top:0;
}

/**
控件栏
*/
 ul.ui-list{
     padding:2px;
     font-size:15px;
 }
ul.ui-list li{
    padding-top: 4px;
}
ul.ui-list li a.btn{
    padding:0em 1rem!important;
}


/**
主要编辑区域
*/
#edit-panel{
    padding: 10px;
    overflow: auto;
    background: #eee;
    border-radius: 4px;
}
#edit-panel  .pages{
}
#edit-panel  .pages .page{
    width:700px;
    height:500px;
    margin:10px auto;
    border:1px solid #bbb;
    background: #ffffff;
    overflow: auto;
}

#edit-panel  .pages .page .edit-div{
    min-height:498px;
}

/**
右侧属性栏
*/
#props-panel{
}
#props-panel .input-group{
    margin-top:10px;
}